@font-face {
  font-family: 'iAWriterQuattroS';
  src: url('/fonts/iAWriterQuattroS/iAWriterQuattroS-Regular.woff2') format('woff2'),
       url('/fonts/iAWriterQuattroS/iAWriterQuattroS-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iAWriterQuattroS';
  src: url('/fonts/iAWriterQuattroS/iAWriterQuattroS-Bold.woff2') format('woff2'),
       url('/fonts/iAWriterQuattroS/iAWriterQuattroS-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*:not(html),
*::before,
*::after {
  box-sizing: inherit;
}
