:root {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);

  /*
   * Font size goes from 17px to 21px, changes
   * at fixed breakpoints.
   */
  font-size: 17px;
  line-height: 1.8;

  @media (min-width: 720px) {
    font-size: 19px;
    line-height: 1.7;
  }

  @media (min-width: 1280px) {
    font-size: 21px;
    line-height: 1.6;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;

  --background-color: #fff;
  --text-color: #000;
  --secondary-text-color: rgba(0, 0, 0, 0.66);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #18191b;
    --text-color: hsla(0, 0%, 100%, 0.86);
    --secondary-text-color: hsla(0, 0%, 100%, 0.56);
  }
}
