name: Nightly

on:
  workflow_dispatch: {}
  schedule:
    - cron: "22 5 * * *"

jobs:
  update-nix-flake:
    name: Update Nix Flake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v26

      - run: nix flake update

      - uses: peter-evans/create-pull-request@v6
        with:
          add-paths: flake.lock
          branch: update-nix-flake
          commit-message: Update Nix Flake
          title: Update Nix Flake
