name: Niquis
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  niquis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v11

      - run: nix develop --command bash -c 'pnpm install'
      - run: nix develop --command bash -c 'pnpm run build'

      - uses: niquis/action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NIQUIS_TOKEN: ${{ secrets.NIQUIS_TOKEN }}
