name: Niquis
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  niquis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          clean: false

      - uses: DeterminateSystems/nix-installer-action@v14
      - run: nix run github:nicknovitski/nix-develop .#workflow

      - run: pnpm run build

      - uses: niquis/action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NIQUIS_TOKEN: ${{ secrets.NIQUIS_TOKEN }}
