name: Update Nix Flake

on:
  workflow_dispatch: {}
  schedule:
    - cron: "22 5 * * *"

jobs:
  update-nix-flake:
    name: Update Nix Flake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27

      - run: nix flake update --commit-lock-file
        env:
          GIT_AUTHOR_NAME: github-actions[bot]
          GIT_AUTHOR_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GIT_COMMITTER_NAME: github-actions[bot]
          GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com

      - id: commit
        run: |
          delimiter="$(openssl rand -hex 16)"
          echo "message<<${delimiter}" >> "${GITHUB_OUTPUT}"
          git log -1 --pretty=%B | tail +3 | awk -f .github/flake-to-markdown.awk >> "${GITHUB_OUTPUT}"
          echo "${delimiter}" >> "${GITHUB_OUTPUT}"

      - uses: peter-evans/create-pull-request@v6
        with:
          branch: update-nix-flake
          title: Update Nix Flake
          body: "${{ steps.commit.outputs.message }}"
